<main class="contenedor contenedor-formularios no-padding">
    <h1><%- nombrePagina %></h1>

    <form class="default-form" action="/cambiar-password" method="POST">
        <div class="campo">
            <label>Contraseña Vieja</label>
            <input type="password" name="anterior" placeholder="Aqui contraseña antigua" >
        </div>
        <div class="campo">
            <label>Contraseña nueva</label>
            <input type="password" name="nuevo" placeholder="Aqui contraseña nueva" >
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Cambiar Contraseña">
        </div>
    </form>
</main>